h1{
	text-align: center;
	padding: 40px 0; 
	border-bottom: 2px solid #eee;
	background: black ;
	color: white;
	text-shadow: 1px 1px 1px white;
}
#container{
	width: 960px;
	margin: 0 auto;
}
.movieItem{
	width: 31%;
	float: left;
	text-align: center;
	background-size: auto 100% !important;
	height: 200px;
}
.clear{
	content: '';
	clear: both;
	display: block;
	padding: 5px;
}
.moviename{
	background: rgba(64, 64, 64, 0.83);
    color: white;
    display: block;
	cursor: pointer;
}
.SupermanVsBatman{
	background: url('http://i.ytimg.com/vi/ajCOaIqaZdc/maxresdefault.jpg') center center;
}
.Deadpool{
	background: url('http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/2016/09/24/deadpool.jpg');
}
.CivilWar{
	background: url('http://images.huffingtonpost.com/2016-05-06-1462517504-9179513-civilwarpic.jpg');
}