<h1>Subrata's Shop</h1>
<div id="container">
     <h3>We have Some movies Dvd For sell</h3><br>
     <div *ngIf = "PremiumUser == true">Only for restricted user</div>
     <div id="movieList">
          <div class="movieItem {{movie.split(' ').join('')}}" *ngFor = "#movie of movieList , #i = index"><span class="moviename" (click)="addtocart(movie)">{{i+1}} :{{movie}}</span></div>
     </div>
     <div class="clear"></div>
     <a [routerLink]="['MyFirstCart']">My Cart</a>
      <!-- <div id="cart">    
          <h3>Cart :</h3>
          <ul>
           <li *ngFor = "#item of cart">{{item}}</li>
          </ul>
     </div> -->
     <!-- <router-outlet></router-outlet> -->
</div>